<ul>
 <li><a href="{{ path('home') }}" >Accueil</a></li>
 <li>
  <a href="{{ path('entreprise') }}">&Agrave; propos de&nbsp;SOGEDEP</a>
  <ul>
   <li><a href="{{ path('entreprise') }}">L'entreprise</a></li>
   <li><a href="{{ path('fonctionnement') }}">Le fonctionnement</a></li>
  </ul>
 </li>
 <li>
  <a href="{{ path('depannage') }}">R&eacute;seau et&nbsp;partenaires</a>
  <ul>
   <li><a href="{{ path('depannage') }}">D&eacute;pannage</a></li>
   <li><a href="{{ path('charte') }}">Charte qualit&eacute;</a></li>
  </ul>      
 </li>
 <li>
  <a href="{{ path('callcenter') }}">Le centre d'appels</a>
  <ul>
   <li><a href="{{ path('callcenter') }}">Pr&eacute;sentation</a></li>
   <li><a href="{{ path('fonctionnement-callcenter') }}">Le fonctionnement</a></li>
  </ul>      
 </li>
 <li>
  <a href="/fr/references.php">R&eacute;f&eacute;rences</a>
 </li>
 <li>
  <a href="{{ path('contact') }}">Contact</a>
 </li>
</ul>