<h3>Ils nous font confiance :</h3>
<div id="references" class="carousel slide" data-ride="carousel">
 <ol class="carousel-indicators" style="display: none;">
  <li data-target="#references" data-slide-to="0" class="active"></li>
  <li data-target="#references" data-slide-to="1"></li>
  <li data-target="#references" data-slide-to="2"></li>
  <li data-target="#references" data-slide-to="3"></li>
  <li data-target="#references" data-slide-to="4"></li>
  <li data-target="#references" data-slide-to="5"></li>
  <li data-target="#references" data-slide-to="6"></li>
  <li data-target="#references" data-slide-to="7"></li>
  <li data-target="#references" data-slide-to="8"></li>
  <li data-target="#references" data-slide-to="9"></li>
  <li data-target="#references" data-slide-to="10"></li>
  <li data-target="#references" data-slide-to="11"></li>
  <li data-target="#references" data-slide-to="12"></li>
 </ol>

 <div class="carousel-inner">
  <div class="item active">
   <center><a href="http://vestel-france.fr/fr/" target="_blank">
    <img src="{{ asset('/images/ref/logo_arpa.jpg') }}" alt="Arpa" />
   </a></center>
  </div>

  <div class="item">
   <center><a href="http://vestel-france.fr/fr/" target="_blank">
    <img src="{{ asset('/images/ref/logo_vestel.jpg') }}" alt="Vestel" />
   </a></center>
  </div>

  <div class="item">
   <center><a href="http://www.novy.fr" target="_blank">
    <img src="{{ asset('/images/ref/logo_novy.gif') }}" alt="Novy" />
   </a></center>
  </div>

  <div class="item">
   <center><a href="https://www.boulanger.com" target="_blank">
    <img src="{{ asset('/images/ref/logo_boulanger.gif') }}" alt="Boulanger" />
   </a></center>
  </div>

  <div class="item">
   <center><a href="https://www.magasins-u.com" target="_blank">
    <img src="{{ asset('/images/ref/logo_superu.gif') }}" alt="Super U" />
   </a></center>
  </div>

  <div class="item">
   <center><a href="https://www.metro.fr" target="_blank">
    <img src="{{ asset('/images/ref/logo_metro.gif') }}" alt="Metro" />
   </a></center>
  </div>

  <div class="item">
   <center><a href="https://www.carrefour.fr" target="_blank">
    <img src="{{ asset('/images/ref/logo_carrefour.png') }}" alt="Carrefour" />
   </a></center>
  </div>

  <div class="item">
   <center><a href="https://www.villatech.fr" target="_blank">
    <img src="{{ asset('/images/ref/logo_discounteo.gif') }}" alt="Discounteo" />
   </a></center>
  </div>

  <div class="item">
   <center><a href="http://www.finlux.cz" target="_blank">
    <img src="{{ asset('/images/ref/logo_finlux.png') }}" alt="Finlux" />
   </a></center>
  </div>

  <div class="item">
   <center><a href="http://www.sogedis.fr" target="_blank"> 
    <img src="{{ asset('/images/ref/logo_sogedis.gif') }}" alt="Sogedis" />
   </a></center>
  </div>

  <div class="item">
   <center><a href="http://www.mistergooddeal.com" target="_blank">
    <img src="{{ asset('/images/ref/logo_mistergooddeal.jpg') }}" alt="MisterGoodDeal" />
   </a></center>
  </div>

  <div class="item">
   <center><img src="{{ asset('/images/ref/logo_manutan.jpg') }}" alt="Manutan" /></center>
  </div>

  <div class="item">
   <center><a href="http://www.ubaldi.com" target="_blank">
    <img src="{{ asset('/images/ref/logo_ubaldi.png') }}" alt="Ubaldi" />
   </a></center>
  </div>

 </div>

 <a class="left carousel-control" href="#references" data-slide="prev">
  <span class="glyphicon glyphicon-chevron-left"></span>
  <span class="sr-only">Previous</span>
 </a>
 <a class="right carousel-control" href="#references" data-slide="next">
  <span class="glyphicon glyphicon-chevron-right"></span>
  <span class="sr-only">Next</span>
 </a>
</div>