{% extends "layout.html.twig" %}

{% block title %}Dossiers{% endblock %}

{% block body %}

  <h2>Dossiers</h2>
  <table class="table table-hover">
   <thead>
    <tr>
     <th>Dossier</th>
     <th>Client</th>
     <th>Marque</th>
     <th>Prestataire</th>
    </tr>
   </thead>
   <tbody>
   {% for dossier in dossiers %}
    <tr>
     <td><a href="{{ path('dossier', { 'id': dossier.id }) }}">{{ dossier.id }}</a></td>
     <td>{{ dossier.iduser }}</td>
     <td>{{ dossier.idmarque }}</td>
     <td>{{ dossier.idprestataire }}</td>
    </tr>
   {% endfor %}
   </tbody>
  </table>

{% endblock %}